<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>
    
      <%- include('./partials/nav') %>
      <div class="container" style="margin-top: 2rem;">
        <form action="/todo/add/<%= project._id %>" method="POST">
        <div class="row" style="display: flex;flex-direction: column;">
            <div class="col">
                <input type="text" name="description" class="form-control"  placeholder="Enter the description" aria-label="Last name">
              </div>
          </div><br><br>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Create Todo</button>
          </div>
        </form>
    <%- include('./partials/script') %>
</body>
</html>